:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --accent-color: #404bbf;
  --hero-background-color: #2e2f42;
  --hero-btn-color: #4d5ae5;
  --hero-btn-hover-color: #404bbf;
  --footer-background-color: #2e2f42;
  --team-background-color: #f4f4fd;
  --primary-white-color: #ffffff;
  --light-cloud-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/**=============== COMPONENTS================== */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** =================HEADER ==================*/

.header-page {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.logotype {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-header {
  color: var(--secondary-text-color);
}

.header-nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-nav-item {
}

.header-nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

/* .header-nav-link.current {
  color: var(--accent-color);
} */

.header-contacts {
  margin-left: auto;
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-contacts-item {
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/** ==================SECTION HERO =================*/

.hero {
  background-color: var(--hero-background-color);
  padding: 188px 472px;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  width: 496px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hero-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* align-items: center; */
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--hero-btn-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-hover-color);
}

/** ===============SECTION OUR ADVANTAGES =============*/

.advantages.section {
  padding-bottom: 0;
}

.advantages-title {
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc((100%-24 * 3) / 4);
}

/** ===============SECTION OUR WORK=============*/

.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
  flex-basis: calc((100%-2 * 24) / 3);
}

/**==============SECTION OUR TEAM =============*/

.team {
  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
  gap: 24px;

  text-align: center;
}

.team-item {
  background-color: var(--primary-white-color);
  width: calc((100%-24 * 3) / 4);
}

/* .team-list .section-subtitle {
  text-align: center;
}

.team-list .section-text {
  text-align: center;
} */

.team-wrapping {
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  /* outline: 1px solid tomato; */
}

/** FOOTER */

.footer {
  background-color: var(--footer-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--light-cloud-color);
}

.footer-text {
  color: var(--light-cloud-color);
  width: 264px;
}

.footer .logotype {
  display: inline-block;
  margin-bottom: 16px;
}

/* *================PORTFOLIO ===============*/

.portfolio-btn-list {
}

.portfolio-btn-item {
}

.portfolio-button {
  color: var(--primary-brand-color);
  background-color: var(--light-cloud-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
